extends layout.pug

block title
    title Login
    
block content
    div(class="container w-50 float-left")
        h1 Login:
        form(action="/" method="post")
            div(class="form-group")
                label Username
                input(type="text" class="form-control" name="username")
            div(class="form-group")
                label Password
                input(type="password" class="form-control" name="password")
                p(class="form-text text-danger") #{ErrorMessage}
            button(type="submit" class="btn btn-dark") Login
