doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type="text/javascript" src="public/js/test.js")
     

  body
    div(class="container")
      h1 Books
      nav(class="navbar navbar-expand-lg width-100 navbar-dark bg-dark")
           ul(class="navbar-nav")
              li(class="nav-item")
                a(class="nav-link" href="/search") Suche
              li(class="nav-item")
                a(class="nav-link" href="/register") Registrierung
              li(class="nav-item")
                a(class="nav-link" href="/") Login
              li(class="nav-item")
                a(class="nav-link" href="/logout") Logout
    div(class="container")
     block content
