extends layout.pug

block title
    title Search
block script
    script
        include ../public/js/search.js
    
block content
    h1 Hier suchen:   
    div(class="form-group")
        label Search for your favorite books
        input(type="text" class="form-control" name="sucheingabe" id="searchField")
        ul(class="list-group" id="searchResults")
    div(class="form-group")
        button(type="submit" class="btn btn-dark") Search
