extends layout.pug

block title
    title Login
    
block content
    h1 Hier suchen:
    form(action="/search" method="post")
        div(class="form-group")
            label Buchsuche
            input(type="search" class="form-control" name="sucheingabe")
            ul(class="list-group")
        button(type="submit" class="btn btn-dark") Suchen
